<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <%- include('../../partials/nav') %>
        <main>
            <div class="container">
                <h4>Categories</h4>
                <% if (user) { %>
                    <a href="/categories/add">Add New Category</a>
                    <% } %>
                        <div class="row">
                            <% categories.forEach(category=> { %>
                                <a href="/categories/<%= category.slug %>">
                                    <div class="col s6 m6 l4">
                                        <div class="card-panel">
                                            <span class="white-text">
                                                <%= category.name %>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <% }) %>
                        </div>
            </div>
        </main>
        <%- include ('../../partials/footer') %>
</body>

</html>